/* GENERLA STYLES */
:root {
    --displayNavShadow: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;   /* Weights: 300, 400, 700 */
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    color: hsl(136, 100%, 25%);
    background-color: hsl(192, 90%, 67%);
}

.request-btn {
    padding: .8rem 1.7rem;
    border: 0;
    border-radius: 30px;
    background: linear-gradient(
        90deg,
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%),
        hsl(136, 65%, 51%),
        hsl(192, 70%, 51%)
        );
    background-size: 300% 100%;
    font-size: .8rem;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: 
        background .5s ease-in-out, 
        filter .2s ease-in-out;
}

.request-btn:hover {
    background-position: 100% 0;
    filter: contrast(120%);
}



/* NAVBAR */
nav {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    padding: 3rem 35vw;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: hsl(233, 26%, 24%);
    font-weight: 700;
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
    z-index: 2;
    animation: openNavMenu 2s ease forwards;
}

nav::after {
    content: "";
    width: 100vw;
    height: 100vh;
    display: var(--displayNavShadow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(
        hsla(0, 0%, 20%, 0.5),
        hsla(0, 0%, 50%, 0.4),
        hsla(0, 0%, 90%, 0.2)
    );
}

.nav-btn {
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.hamburger {
    z-index: 2;
    cursor: pointer;
}

li > div {
    display: none;
}

@keyframes openNavMenu {
    from {padding: 0;}
    to {padding: 3rem 35vw;}
}

@keyframes closeNavMenu {
    from {padding: 3rem 35vw;}
    to {padding: 0;}
}

@media screen and (min-width:1024px) {
    nav {
        width: 100%;
        padding: 1rem 8rem;
        position: absolute;
        display: flex;
        align-items: center;
        background-color: white;
        z-index: 2;
    }

    .nav-menu {
        padding: 0;
        position: static;
        transform: translate(0);
        display: flex;
        flex-direction: row;
        animation: none;
    }

    .nav-menu > li {
        font-size: .9em;
        font-weight: 400;
        color: hsl(233, 8%, 62%);
    }

    .nav-menu > li:hover {
        color:hsl(233, 27%, 24%);
    }

    .hover-line {
        width: 100%;
        height: 3px;
        display: none;
        transform: translateY(50%);
        background: linear-gradient(
            90deg,
            hsl(136, 65%, 51%),
            hsl(192, 70%, 51%)
        );
    }

    li:hover > div {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .nav-btn {
        display: block;
        position: static;
        transform: translate(0);
    }
}



/* HEADER */
header {
    overflow: hidden;
    background: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.mockups {
    max-width: 100%;
    margin-bottom: -20%;
    position: relative;
    transform: translate(0%, -25%);
    transition: all .3s ease;
}

.header-container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

h1 {
    font-size: 2.5rem;
    line-height: 1.3em;
    font-weight: 300;
    text-align: center;
    color: hsl(233, 26%, 24%);
}

.header-describe {
    text-align: center;
    line-height: 1.3em;
    color: hsl(233, 8%, 62%);
}

.header-btn {
    margin: 1rem 0 3rem 0;
}


@media screen and (min-width:1024px) {
    header {
        overflow-x: clip;
        overflow-y: visible;
        background: hsl(0, 0%, 98%) url("./images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 35rem -12rem;
    }

    .mockups {
        margin-bottom: -10%;
        transform: translate(100%, -5%);
    }

    .header-container {
        width: 35%;
        height: fit-content;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 27%;
        transform: translate(-50%, -50%);
        align-items: flex-start;
    }

    h1 {
        font-size: 3.4rem;
        text-align: left;
    }

    .header-describe {
        line-height: 1.6em;
        text-align: left;
    }

    .header-btn {
        margin: 1rem 0 0 0;
    }

}    




/* MAIN SECTION */
main {
    padding: 4rem 2rem;
    background: hsl(220, 16%, 96%);
}

.section-title {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.4em;
    text-align: center;
    color: hsl(233, 26%, 24%);
}

.main-describe {
    margin-bottom: 3rem;
    line-height: 1.3em;
    text-align: center;
    color: hsl(233, 8%, 62%);
}

.features {
    margin: 1rem 0;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.feature-title {
    color: hsl(233, 26%, 24%);
}

.feature-describe {
    text-align: center;
    color: hsl(233, 8%, 62%);
}

@media screen and (min-width:1024px) {
    main {
        padding: 6rem 8rem;
        display: grid;
        grid-template-areas: 
            "sec-title sec-title sec-title sec-title"
            "describe describe describe describe"
            "feat1 feat2 feat3 feat4";
    }

    .section-title {
        grid-area: sec-title;
        text-align: left;
        font-size: 2.5rem;
    }

    .main-describe {
        grid-area: describe;
        width: 40%;
        line-height: 1.6em;
        text-align: left;
    }

    .features {
        width: 26ch;
        align-items: flex-start;
    }

    .feature-describe {
        text-align: left;
    }

}



/* ARTICLES SECTION */
.articals-section {
    padding: 3rem 2rem;
    text-align: center;
    background: hsl(0, 0%, 98%);
}

.article-box {
    margin: 1rem 0;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: hsl(0, 0%, 100%);
}

.article-box:hover {
    background: hsl(0, 0%, 99%);
}

.article-box:hover > .article-title {
    color: hsl(192, 70%, 51%);
}

.article-box:hover > .article-img {
    filter: opacity(93%);
}

.article-img {
    max-width: 100%;
    aspect-ratio: 1.4;
}

.article-creator, .acticle-describe  {
    margin: 0 1rem;
    font-weight: 300;
    font-size: .8rem;
    text-align: left;
    color: hsl(233, 8%, 62%);
}

.article-title {
    margin: 0 1rem;
    font-weight: 300;
    text-align: left;
    color: hsl(233, 26%, 24%);
}

@media screen and (min-width:1024px) {
    .articals-section {
        padding: 6rem 8rem;
        display: grid;
        grid-template-areas: 
            "sec-title sec-title sec-title sec-title"
            "art1 art2 art3 art4";
    }

    .article-box {
        width: 90%;
    }

}



/* FOOTER */
footer {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background: hsl(233, 27%, 24%);
}

.social-menu {
    margin: 1.5rem 0 0 0;
    display: flex;
    justify-content: center ;
    gap: .8rem;
}

.footer-menu {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
    color: hsl(0, 0%, 98%);
}

.all-rights-reserved {
    margin-top: 1.5rem;
    font-size: .8rem;
    font-weight: 300;
    color: hsl(0, 0%, 98%);
}

@media screen and (min-width:1024px) {
    footer {
        padding: 2rem 8rem;
        display: grid;
        grid-template-areas: 
            "logo links button"
            "social links rights";
    }

    .social-menu {
        grid-area: social;
        justify-self: flex-start;
    }

    .footer-menu {
        grid-area: links;
        display: grid;
        grid: auto auto auto / auto auto;
    }

    .footer-items:hover {
        color: hsl(192, 90%, 67%);
    }

    .footer-btn {
        justify-self: flex-end;
    }

    .all-rights-reserved {
        justify-self: flex-end;
    }
}
